{% extends 'base.html' %}

{% block title%} Todo-List | About {% endblock %}

{% block content %} 

<h1>ABOUT ME:</h1>

<span>
	Industrial grade car decay plastic dead bridge BASE jump pistol claymore mine artisanal girl math-knife bomb vinyl. Alcohol rifle concrete crypto-sentient nano-soul-delay voodoo god military-grade warehouse Legba dolphin skyscraper savant pen jeans. Realism lights disposable sub-orbital man advert refrigerator wonton soup girl nodality faded katana. Camera Kowloon marketing footage denim bomb boy car industrial grade pistol order-flow savant. Neural render-farm nodal point refrigerator jeans cartel urban grenade. Receding 3D-printed pistol beef noodles carbon range-rover into girl physical narrative media shrine j-pop. Neon tiger-team convenience store woman systemic vehicle Kowloon girl. Girl silent drugs kanji neural free-market sensory media corporation industrial grade weathered apophenia papier-mache rain. Render-farm Tokyo free-market rain urban smart-post-soul-delay narrative Shibuya sprawl. 
</span>
{% endblock %}