{% extends 'base.html' %}

{% block title %} Todo-Do List | Edit Item{% endblock %}

{% block content %}

	<h4><a href="{% url 'home' %}">&gt;&gt;BACK</a></h4>
	<br><br><br>
	{% if item %}
		<form class="form-inline my-2 my-lg-0 dilink" method="post">{% csrf_token %}
			<label for="exampleInputEmail1">Edit: </label>
      <input class="form-control mr-sm-2" type="text" placeholder="{{ item.item }}" aria-label="Search" name="item" value="{{ item.item }}">
      <input type="hidden" value={{ item.completed }} name="completed">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">submit</button>
    </form>

	{% endif %}

{% endblock %}
