{% extends 'base.html' %}

{% block content %}
{% if zipcode %}
	<h1>{{ zipcode }}</h1>
{% endif %}
<br><br>
{% if api %}
	{% if api == "ERROR..." %}
		<p>There is api failure. Please try again...</p>
	{% else %}
	{% for i in api %}
	<!-- <p>{{ i }}</p> -->
	<div class="media">
	  <div class="mr-3">
	  	<div class="btn {{ i.color }}"><b>{{ i.Category.Name }}</b></div>
	  <div class="media-body {{ i.color }}">
	    <h5 class="mt-0">{{ i.ReportingArea }}, <hr>Air Quality: {{ i.AQI }}</h5>
	    <p><span>{{ i.msg }}</span></p>
	    <ul class="list-group">
	  	  <li class="list-group-item text-light bg-dark">StatCode: {{ i.StateCode }}</li>
		  <li class="list-group-item text-light bg-dark">HourObserved: {{ i.HourObserved }}</li>
		  <li class="list-group-item text-light bg-dark">Date: {{ i.DateObserved }}</li>
		  <li class="list-group-item text-light bg-dark">Latitude: {{ i.Latitude }}</li>
		  <li class="list-group-item text-light bg-dark">Longitude: {{ i.Longitude }}</li>
		</ul>
	  </div>
	</div>
	<br><br>
	{% endfor %}
	{% endif %}
{% endif %}
{% endblock %}
